@charset "UTF-8";


body{
    color:#333333;
    font-family:"Hiragino kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;


}



h1{
    font-size: 24px;
    display: inline;

}

h2{
      font-size:36px;
      margin-bottom:15px;
}

li{
    margin-top:10px;
    margin-bottom:10px;
}

p{
    margin-top:15px;
    margin-bottom:15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}



select {
    height: 30px;
}

#header_logo {
    color: white;
      font-weight: 700;
    width: 40%;
    padding-left: 1%;
    text-align: left;
    padding-top: 20px;
    display: inline-block;
}
#header_logo h1{
    font-size: 35px;
}

#header_menu {

    width: 30%;
    padding-right: 1%;
    display: inline-block;
    text-align: right;
    padding-top: 25px;
    }

#header{
    width:100%;
    height:70px;
    background-color:#abebb4;

}
#menu_content{
    background-color: #999999ff;
    color: white;
      font-weight: 700;
   width: 150px;
   display:inline-block;
   text-align: left;
}
details[open] .open {
  display: none;
}


details:not([open]) .close {
  display: none;
}
summary {
      font-weight: 700;
    list-style:none;
    color: white;
    font-size:25px;
}

#content_parent{
        text-align: center;
}
#content{
    width:60%;
    text-align: center;
    display:inline-block;
    background-color: #eeeeee;


}

#header a {
    color: #eeeeee;
}

h1 a {
    color: #eeeeee;
}

table#report_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#report_list .report_name {
    width: 20%;
    padding: 10px 2%;
}
table#report_list .report_date {
    width: 20%;
}

table#report_list .report_title {
    width: 37%;
}

table#report_list .report_action {
    width: 13%;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}
h3 {
    font-size: larger;
}
#wrapper {
    display: flex;
    height: 70px;
    justify-content: space-between;
}

#dates_list  a{
     background-color: #999999ff;
     color: white;
     padding: 5px;
       display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 50vh;


}
.button02 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  border-radius: 50vh;
}

#dates_list a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
}

#dates_list a:hover {
  text-decoration: none;
  background-color: #abebb4;
}

#pager #pagination {
  text-align: center;
}

#pager #pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  background:#999999ff;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  border-radius: 10px;
}


#pager #pagination li a{
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
   font-weight: 700;
  text-align: center;
  display:table;
  color: #fff;
  text-decoration: none;
}

#pager #pagination li  a span{
  display:table-cell;
  vertical-align:middle;
}

#pager #pagination li  a:hover,
#pager #pagination li  a.active{
  color: #999999ff;
  background: #abebb4;
  border-radius: 10px;
}
p.space {
    margin-top: 5px;
    margin-bottom: 5px;
}

#diary_list .time{
    width: 20%;
}
#diary_list .content{
    width: 60%;
}

#diary_list th.option{
    width: 10%;
    text-align: center;
    background:#abebb4;
}

#diary_list th.option a{
    color: white;
      font-size: 18px;
   font-weight: 700;

}
