@charset "UTF-8";


body{
    color:#333333;
    font-family:"Hiragino kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;


}



h1{
    font-size: 24px;
    display: inline;

}

h2{
      font-size:36px;
      margin-bottom:15px;
      color: #999999ff;
}

li{
    margin-top:10px;
    margin-bottom:10px;

}

p{
    margin-top:15px;
    margin-bottom:15px;
    font-weight: 600;

}

pre {
    white-space: pre-wrap ;
}

a {
    text-decoration: none;
}
span{
    font-weight: 600;
}



table {
    width: 80%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 0;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {

    text-align: center;
}
#flash {
    position: fixed;
    width:60%;
    animation: Slide 4s forwards;
}

@keyframes Slide {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
   30%{
   opacity: 1;
   transform:translateY(0);
   }

   70%{
   opacity: 1;
   transform: translateY(0);
   }

  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

#flash_success {
    width: 80%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin:10px auto;
    font-size: 25px;
    font-weight:700;
    color: #999999ff;
    background-color: #d4edda;
    border-radius:30px;
}

#flash_error {
    width: 80%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin:10px auto;
    font-size:20px;
    font-weight:600;
    color: #999999ff;
    background-color: #f8d7da;
    border-radius:30px;
}



select {
    height: 30px;
}

#header_logo {
    color: white;
      font-weight: 700;
    width: 40%;
    padding-left: 1%;
    text-align: left;
    padding-top: 20px;
    display: inline-block;
}
#header_logo h1{
    font-size: 35px;
}

#menu {

    width: 20%;
    display: inline-block;
    }

#header{
    width:100%;
    height:70px;
    background-color:#abebb4;

}
#menu_content ul{
    display:inline-block;
    text-align: center;
}
#menu_content li{
    text-align: left;
}

#menu_content span{
    display: block;
    text-align:center;
    color: white;
}
#menu_content i{
    padding-right: 0.5em;
}
#menu_content {
    background-color: #999999ff;
   border-radius: 30px;
   padding:10px;
}
#menu_content a{
     color: white;
     font-size: 20px;
      font-weight: 700;
   width: 150px;
}
#menu_content a:hover{
    color: #abebb4;
}

#content_parent{
        text-align: center;
        display: flex;
        height:850px;
}
#contents{
    width:60%;
    height: 800px;
    text-align: center;
    display:inline-block;
    background-color: #eeeeee;
    overflow: auto;



}

#header a {
    color: white;
}

h1 a {
    color: #eeeeee;
}



pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}
h3 {
    font-size: larger;
}
#wrapper {
    display: flex;
    height: 70px;
    justify-content: space-between;
}

#dates_list  a{
     background-color: #999999ff;
     color: white;
       display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 50vh;


}
.button02 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  border-radius: 50vh;
}

#dates_list a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
}

#dates_list a:hover {
  text-decoration: none;
  background-color: #abebb4;
}

#pager #pagination {
  text-align: center;
}

#pager #pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  background:#999999ff;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  border-radius: 10px;
}


#pager #pagination li a{
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
   font-weight: 700;
  text-align: center;
  display:table;
  color: #fff;
  text-decoration: none;
}

#pager #pagination li  a span{
  display:table-cell;
  vertical-align:middle;
}

#pager #pagination li  a:hover,
#pager #pagination li  a.active{
  color: #999999ff;
  background: #abebb4;
  border-radius: 10px;
}
p.space {
    margin-top: 5px;
    margin-bottom: 5px;
}

#no_history {
     background-color: #999999ff;
     color: white;
     align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 50vh;
}


#todo {
    width: 20%;
    display: inline-block;
    padding-right: 5px;

}
#addTodo{
    position: relative;


}
#addTodo input#content{
    font-weight: 600;
    box-sizing: border-box;
    width:90%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #444444;
    border: none;
    border-bottom: 2px solid #999999ff;
    background: transparent;
}
#addTodo input#content:focus{
    border-bottom: 2px solid #abebb4;
    outline: none;
}

::placeholder {
  color: #cccccc;
}


#addTodo #send_addTodo{
 cursor: pointer;
  font-size: 1.3em;
  border: none;

  background: none;
  color: #999999ff;
  outline : none;
  position: absolute;
  right:2px;
  top: 1px;


}

#addTodo #send_addTodo:hover{
     color: #8EB8FF;
}

#todo_list{
    overflow: auto;
    height:600px;
}
#todo_list li{
    display: flex;
     background:#999999ff;
         border-radius: 50vh;
          font-weight: 600;

}
#todo_list .btns {
    display: flex;
    align-items: center;
    width:15%;


}
#todo_list .btns button.finishTodo{
    margin-left:auto;
}


#todo_list button.deleteTodo {
    text-align: center;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    padding: 0;
    background:#999999ff;
    color:#F08080;
    font-weight: 700;
}
#todo_list #no_task span{
    text-align:center;
}
#todo_list span{
    text-align:left;
    width: 70%;
    color: white;

     position: relative;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:5px;


}
#todo_list button.finishTodo {
    text-align: center;
        font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    padding:0;
    vertical-align: middle;
    background:#999999ff;
    color: #abebb4;


}

#todo_list button.finishTodo:hover {
  text-decoration: none;
  background-color: #abebb4;
  color:white;
}




#todo_list button.deleteTodo:hover {
    background-color: #F08080;
    color:white;
}

#todo_flash p{
    text-align:center;
    font-weight: 600;
    border-radius: 50vh;
     position: relative;
    padding: 5px;
    color: #999999ff;
    background-color: #d4edda;
    margin-bottom: 0;
}

.diary_list,
.task_list,
#today_diary,
#today_task,
#user_data{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  background: #999999ff;
  color: white;
    border-radius: 30px;
}

.diary_list tr,
.task_list tr{
    border: 0px none;
  cursor: pointer;
}
.diary_list tr:hover{
}

.diary_list .time,
.task_list .time,
#user_data .time{
    width: 20%;
    text-align:center;
}
.diary_list .content,
.task_list .content{
    width: 60%;
    font-weight: 600;
}

.diary_list .option,
.task_list .option {
    width: 10%;
    text-align: center;

}
.diary_list .option a,
.task_list .option a{
    color:#abebb4;
    padding:5px;

    font-size: 20px;
    border-radius: 50%;
}
.diary_list .option a:hover,
.task_list .option a:hover{
    background:#abebb4;
    color:white;
    padding:0.1em 0.3em;
}
#history details[open] summary{

  background: #abebb4;
}
#history summary{
    background-color: #999999ff;
     color: white;
  justify-content: space-between;
  text-align:center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 30%;
 font-size: 15px;
  border-radius: 50vh;
}
#history summary span{
    font-size: 20px;
  font-weight: 700;
}

#history summary:hover{

  background: #abebb4;
}
textarea,
#form input[type="text"],
#form input[type="password"]{
    border-radius: 10px;
    border-color:#cccccc;
    color:white;
    font-weight: 600;
     padding: 4px 16px;
     box-shadow: 0 0 0 1px #ccc inset;
         appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: vertical;
    transition: 0.3s;
    background-color:#999999ff;
}
textarea:focus,
#form input[type="text"]:focus,
#form input[type="password"]:focus{

  border-color:#abebb4;
  background-color: white;
  color:#333333;
  outline: none;
}

#form label{
    font-size:16px;
    font-weight: 600;
    color:#999999ff;
}

#form input[type="date"] {
        border-radius: 10px;
    border-color:#999999ff;
     color:white;
    font-weight: 600;
     padding: 4px 16px;
         appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: vertical;
    transition: 0.3s;
    background-color:#999999ff;
}
#form input[type="date"]:focus{
      border-color:#abebb4;
  background-color: white;
  color:#333333;
  outline: none;
}

#form button[type="submit"]{
    border-radius: 50px;
    border:none;
    font-weight:600;
    font-size: 20px;
   background:#999999ff;
   color:white;
   padding: 0.3em 1.0em;

}
#form button[type="submit"]:hover{
    background:#abebb4;


}

#delete_diary,
#delete_task{
    display:inline-block;
    background:#999999ff;
     border-radius:50px;
    padding: 0.2em 0.5em;
     font-size:20px;
}
 #delete_diary a,
 #delete_task a{
    color:white;
}
#delete_diary:hover,
#delete_task:hover{
    background:#F08080;
}

#data_count {
    display:flex;

    justify-content:center;
}
#data_count .count_title{
    font-size: 20px;
}
#today_data #no_diary a{
    font-size:40px;
    color:#abebb4;
    border-radius:50%;
    padding: 0.1em 0.3em;
}
#today_data #no_diary a:hover{
    color:white;
    background:#abebb4;
}
#data_count #diary_count,
#data_count #task_count{
    background:#dddddd;
    color:#999999ff;
    border-radius:30%;
    font-size:50px;
    width:100px;
    height:100px;
    padding:1em;
    margin: 0 0.5em;

}

#today_data #today_diary,
#today_data #today_task{
    margin-top: 1em;
    padding: 1em 0;
}

#today_data #no_diary,
#today_data #no_task{
    font-size: 30px;

}

#data{
    background: #999999ff;
    color:white;
    border-radius:30px;
}
#data, #today_data, #user_data{
    padding: 1em 0;
    width:95%;
    margin:auto;
}

#user_data th,
#user_data td{
    text-align:center;
    font-weight:600;

}
#user_edit a{
    background:#999999ff;
    border-radius:30px;
    color:white;
    font-weight:600;
    font-size: 20px;
    padding: 0.3em 1em;
}
#user_delete{
    margin-top:30px;
}
#user_delete a{
    background:#F08080;
    color:white;
    font-weight:600;
    font-size: 20px;
    border-radius:30px;
    padding: 0.3em 1em;
}
#user_delete a:hover{
    background:#999999ff;
    color:#F08080;
}
hr {
    width: 50%;
    margin: 20px auto;
}

#signIn a{
    background:#999999ff;
    color:white;
    font-size:25px;
    padding: 0.3em 1em;
    border-radius:30px;

}

